* {
  margin: 0;
  padding: 0;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace; */

:root {
  --accent-color: red;
  --dark-color: #212121;
  --body-color: #757575;
  --link-color: #2196f3;
  --light-color: #ffffff;
}

body {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

a:hover,
a:focus {
  color: var(--link-color);
}

header {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  /* background: #ffffff; */
}
.nav {
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 0.837;
  letter-spacing: 0.03em;
  /* position: absolute; */
  left: 215px;
  top: 24px;
}

.web {
  color: var(--link-color);
}

.studio {
  color: var(--dark-color);
}

.list {
  list-style: none;
  left: 453px;
  top: 32px;
}

.wrapper {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--light-color);
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 0.733;
  text-transform: uppercase;
}

.btn-hero {
  font-weight: bold;
  font-size: 16px;
  line-height: 0.533;
  display: flex;
  align-items: center;
}

.benefits p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--body-color);
}

benefits h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var (--dark-color);
  position: absolute;
  width: 270px;
  height: 75px;
  left: 515px;
  top: 950px;
}
.Rectangle1 {
  /* width: 270px;
  height: 120px;
  left: 215px;
  top: 774px; */

  background: #f5f4fa;
  border-radius: 4px;
}

address {
  font-style: normal;
}
