* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

header {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.logo {
  position: absolute;
  width: 153px;
  height: 31px;
  left: 215px;
  top: 24px;
}

.web {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.studio {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.link {
  left: 453px;
  top: 32px;
}

.contacts a {
  color: var(--primary-text-color);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}
.contacts a {
  text-decoration-line: none;
}

.Rectangle1 {
  width: 270px;
  height: 120px;
  /* left: 215px;
  top: 774px; */

  background: #f5f4fa;
  border-radius: 4px;
}
